DISCORD_TOKEN=your_discord_token
STEAM_API_KEY=you_steam_api_key

CLIENT_ID=your_client_id  # The ID of the bot application
GUILD_ID=your_guild_id  # The ID of the Discord server (guild) where the bot will operate
NODE_ENV=development # 'production' or 'development' environment